<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>商品登録</title>
</head>

<body>
	<h1>商品登録</h1>

	<form action="/items/add" method="post">
		<table border="1">
			<tr>
				<th>カテゴリーID</th>
				<td><input type="text" name="categoryId"></td>
			</tr>
			<tr>
				<th>商品名</th>
				<td><input type="text" name="name"></td>
			</tr>
			<tr>
				<th>値段</th>
				<td><input type="text" name="price"></td>
			</tr>
		</table>
		<input type="submit" value="登録">
	</form>
</body>

</html>