<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>カテゴリー変更</title>
</head>

<body>
	<h1>カテゴリー変更</h1>

	<form th:action="|/categories/${category.id}/edit|" method="post">
		<table border="1">
			<tr>
				<th>カテゴリーID</th>
				<td><input type="text" name="id" th:value="${category.id}"></td>
			</tr>
			<tr>
				<th>商品名</th>
				<td><input type="text" name="name" th:value="${category.name}"></td>
			</tr>
		</table>
		<input type="submit" value="更新">
	</form>
</body>

</html>